* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: blanchedalmond;
    background-color: #5c1cbb;
    background-color: #010003;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    


}  

a {
    color: blanchedalmond;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navegacion */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}



.nav-brand {
    width: 50px;
}

/* nav left */
.nav-main ul {
    display: flex;
}

.nav-main ul li{
    padding: 10px;

}
.nav-main ul li a {
    padding: 4px;
}

.nav-main ul li a:hover {
    border-bottom: solid #ffffff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
